@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$Montserrat: Montserrat;

.playlist-type-off {
  text-align: center;
  width: 150px;
  height: 40px;
  background: #44454c;
  border-radius: 50px;
  border: none;
  color: #5a6b73;
  font-family: $Montserrat;
  font-size: 18px;
  font-weight: 600;
  margin: 0px 20px 20px ;

  &:hover {
    background-color: #474a62;
    cursor: pointer;
  }
}

.playlist-type-on {
  text-align: center;
  width: 150px;
  height: 40px;
  margin-bottom: 20px;
  background: #3a406d;
  border: none;
  border-radius: 50px;
  color: #1eb3ff;
  font-family: $Montserrat;
  font-size: 18px;
  font-weight: 600;
  margin: 0px 20px 20px ;


  &:hover {
    background-color: #50536b;
    cursor: pointer;
  }
}

.searchbar-track {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 10px;
  
}

Button.searchbar-track {
  float: right;
}

.track-info {
  margin-left: 10px;
  margin-bottom: 10px;
}

#chakra-modal-create-playlistform {
  max-width: 60vw;
}

.playlist-search {
  text-align: center;
  width: 200px;
  height: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
  background: #3a406d;
  border: none;
  border-radius: 50px;
  color: #1eb3ff;
  font-family: $Montserrat;
  font-size: 14.5px;
  font-weight: 600;

  &:hover {
    background-color: #50536b;
    cursor: pointer;
  }
}

hr.divider {
  border: 1px solid #3a406d;
  margin-top: 20px;
}

.playlist-info-section {
  background: #03082a;
  color: white;
  border: solid #3a406d;
  border-radius: 12px;
  margin: 20px;

  &:hover {
    background-color: #202542;
    cursor: pointer;
  }
}

.playlist-cover-image {
  height: 25%;
  width: 20%;
  margin: 25px;
  border-radius: 30px;
}

.playlist-name {
  font-size: xx-large;
  font-style: italic;
  font-family: $Montserrat;
}
.play-spotify-section {
  display: flex;
  justify-content: center;
}

.playlist-text {
  font-family: $Montserrat;
}

.play-spotify {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 220px;
  height: 40px;
  margin-bottom: 20px;
  background: #494e75;
  border-radius: 50px;
  color: #1eb3ff;
  font-family: $Montserrat;
  font-size: 13.5px;
  font-weight: 600;
  border: none;

  &:hover {
    background-color: #50536b;
    cursor: pointer;
  }
}


.playerBar {
  position: fixed;
  float: right;
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: $Montserrat;
}

p {
  color: white;
}

.edit-button {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
  margin-right: 20px;
  background: #3a406d;
  border: 1px solid #000000;
  border-radius: 15px;
  color: #1eb3ff;
  font-family: $Montserrat;
  font-size: 25px;
  float: right;

  &:hover {
    background-color: #50536b;
    cursor: pointer;
  }
}

.add-user-button {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
  background: #3a406d;
  border: 1px solid #000000;
  border-radius: 15px;
  color: #1eb3ff;
  font-family: $Montserrat;
  font-size: 25px;

  &:hover {
    background-color: #50536b;
    cursor: pointer;
  }
}

.chakra-table__container {
  display: grid;
  font-family: $Montserrat;
  font-weight: 200;
  color: white;
  text-align: justify;
}

.css-0 {
  padding-bottom: 8px;
}

.rating-dropdown {
  font-family: $Montserrat;
  color: white;
  background-color: #3a406d;
  border-radius: 15px;
  text-align: center;
}

.chakra-select__icon-wrapper {
 color: transparent;
}

.play-button {
  background-color: transparent;
  border: none;
  color: white;
}

.playlist-status-button {
  text-align: center;
  margin-bottom: 50px;
  margin-right: 20px;
  width: 200px;
  height: 40px;
  background: #3A406D;
  border: none;
  border-radius: 50px;
  color: #1eb3ff;
  font-family: $Montserrat;
  font-size: 15px;
  font-weight: 500;
  float: right;

  &:hover {
    background-color: #50536b;
    cursor: pointer;
  }
}

.dropdown-menu{
  background: #3A406D;
  margin-right: 120px;
  border: none;
  border-radius: 850px;
  color: #1eb3ff;
  font-family: $Montserrat;
}

.options-menu {
  color: #1eb3ff;
}